@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body {
    margin: 0px;
    padding: 0px;
    color: #000;
}

.header {
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #4b83e8;
    font-family: 'Permanent Marker', cursive;
    box-shadow: 0px 4px 10px -4px #000;
    z-index: 5;
}

.title {
    padding: 25px 0px 10px 0px;
    color: #fff;
    font-size: 35px;
}

.contact {
    font-family: sans-serif;
    line-height: 2;
    padding-bottom: 10px;
    color: #fff;
}

.contact a {
    font-size: 20px;
    margin: 15px;
    color: #fff;
}

.level-select {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gameDiv {
    width: 90%;
    margin: 35px 0px;
    height: auto;
    min-height: 440px;
    background: #fff;
    box-shadow: 0px 0px 12px -9px #000;
    border-radius: 8px;
}

.gameIntro {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rules {
    list-style: none;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 30px;
}

.bulletin {
    margin-right: 20px;
    font-size: 16px;
}

.letterBlocks {
    list-style: none;
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
}

.letterBlocks li {
    margin: 15px 15px;
}

.sortItem {
    min-width: 100px;
    min-height: 100px;
    font-size: 70px;
    text-align: center;
    cursor: pointer;
    background-color: #4b83e8;
    color: #fff;
}

.actionBtns {
    width: 100%;
}